<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.afrp.base.dao.generator.AfRuleMapper">
  <resultMap id="BaseResultMap" type="com.afrp.base.model.generator.AfRule">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ruleno" jdbcType="VARCHAR" property="ruleno" />
    <result column="rulename" jdbcType="VARCHAR" property="rulename" />
    <result column="soltno" jdbcType="VARCHAR" property="soltno" />
    <result column="rulegroup" jdbcType="VARCHAR" property="rulegroup" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="eventid" jdbcType="VARCHAR" property="eventid" />
    <result column="isinuse" jdbcType="VARCHAR" property="isinuse" />
    <result column="decision" jdbcType="VARCHAR" property="decision" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.afrp.base.model.generator.AfRule">
    <id column="ruleno" jdbcType="VARCHAR" property="ruleno" />
    <result column="rulename" jdbcType="VARCHAR" property="rulename" />
    <result column="soltno" jdbcType="VARCHAR" property="soltno" />
    <result column="rulegroup" jdbcType="VARCHAR" property="rulegroup" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="eventid" jdbcType="VARCHAR" property="eventid" />
    <result column="isinuse" jdbcType="VARCHAR" property="isinuse" />
    <result column="decision" jdbcType="VARCHAR" property="decision" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select ruleno, rulename, soltno, rulegroup, channel, eventid, isinuse, decision
    from af_rule
  </select>
  <resultMap id="BaseResultMap" type="com.afrp.base.model.generator.AfRule">
    <id column="ruleno" jdbcType="VARCHAR" property="ruleno" />
    <result column="rulename" jdbcType="VARCHAR" property="rulename" />
    <result column="soltno" jdbcType="VARCHAR" property="soltno" />
    <result column="rulegroup" jdbcType="VARCHAR" property="rulegroup" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="eventid" jdbcType="VARCHAR" property="eventid" />
    <result column="isinuse" jdbcType="VARCHAR" property="isinuse" />
    <result column="decision" jdbcType="VARCHAR" property="decision" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from af_rule
    where ruleno = #{ruleno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.afrp.base.model.generator.AfRule">
    insert into af_rule (ruleno, rulename, soltno, 
      rulegroup, channel, eventid, 
      isinuse, decision)
    values (#{ruleno,jdbcType=VARCHAR}, #{rulename,jdbcType=VARCHAR}, #{soltno,jdbcType=VARCHAR}, 
      #{rulegroup,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{eventid,jdbcType=VARCHAR}, 
      #{isinuse,jdbcType=VARCHAR}, #{decision,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.afrp.base.model.generator.AfRule">
    update af_rule
    set rulename = #{rulename,jdbcType=VARCHAR},
      soltno = #{soltno,jdbcType=VARCHAR},
      rulegroup = #{rulegroup,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      eventid = #{eventid,jdbcType=VARCHAR},
      isinuse = #{isinuse,jdbcType=VARCHAR},
      decision = #{decision,jdbcType=VARCHAR}
    where ruleno = #{ruleno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ruleno, rulename, soltno, rulegroup, channel, eventid, isinuse, decision
    from af_rule
    where ruleno = #{ruleno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ruleno, rulename, soltno, rulegroup, channel, eventid, isinuse, decision
    from af_rule
  </select>
  <resultMap id="BaseResultMap" type="com.afrp.base.model.generator.AfRule">
    <constructor>
      <idArg column="ruleno" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rulename" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="soltno" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="rulegroup" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="channel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="eventid" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="isinuse" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="decision" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from af_rule
    where ruleno = #{ruleno,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.afrp.base.model.generator.AfRule">
    insert into af_rule (ruleno, rulename, soltno, 
      rulegroup, channel, eventid, 
      isinuse, decision)
    values (#{ruleno,jdbcType=VARCHAR}, #{rulename,jdbcType=VARCHAR}, #{soltno,jdbcType=VARCHAR}, 
      #{rulegroup,jdbcType=VARCHAR}, #{channel,jdbcType=VARCHAR}, #{eventid,jdbcType=VARCHAR}, 
      #{isinuse,jdbcType=VARCHAR}, #{decision,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.afrp.base.model.generator.AfRule">
    update af_rule
    set rulename = #{rulename,jdbcType=VARCHAR},
      soltno = #{soltno,jdbcType=VARCHAR},
      rulegroup = #{rulegroup,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      eventid = #{eventid,jdbcType=VARCHAR},
      isinuse = #{isinuse,jdbcType=VARCHAR},
      decision = #{decision,jdbcType=VARCHAR}
    where ruleno = #{ruleno,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select ruleno, rulename, soltno, rulegroup, channel, eventid, isinuse, decision
    from af_rule
    where ruleno = #{ruleno,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select ruleno, rulename, soltno, rulegroup, channel, eventid, isinuse, decision
    from af_rule
  </select>
</mapper>